* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #060113;
    --orange: #d15217;
    --yellow: #ffe600;
    --green: #28a556;
    --blue: #0286ce;
}

body {
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}

.container {
    width: 100%;
    max-width: 100%;
}

.grid {
    display: grid;
    grid-template-areas:
        "a a b"
        "c d d"
        "c e e";
    grid-template-columns: 180px 80px 180px;
    grid-template-rows: 190px 80px 100px;
    gap: 8px;
    padding: 20px;
    justify-content: center;
    margin-top: 10%;
}

.redbox {
    grid-area: a;
    background-color: var(--orange);
}

.yellowbox {
    grid-area: b;
    background-color: var(--yellow);
}

.greenbox {
    grid-area: c;
    background-color: var(--green);
}

.blue1box {
    grid-area: d;
    background-color: var(--blue);
}

.blue2box {
    grid-area: e;
    background-color: var(--blue);
}

.button {
    font-family: Poppins, Helvetica, sans-serif;
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;
    color: antiquewhite;
    padding: 12px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    color: rgb(36, 94, 255);
    border: 2px solid rgb(36, 94, 255);
}